/* ------------------------------------------------
    CUSTOM WEB FONTS
--------------------------------------------------*/
@font-face {
    font-family: 'MerriweatherRegular';
    src: url('fonts/merriweather-regular-webfont.eot');
    src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/merriweather-regular-webfont.woff') format('woff'), url('fonts/merriweather-regular-webfont.ttf') format('truetype'), url('fonts/merriweather-regular-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MerriweatherBold';
    src: url('fonts/merriweather-bold-webfont.eot');
    src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/merriweather-bold-webfont.woff') format('woff'), url('fonts/merriweather-bold-webfont.ttf') format('truetype'), url('fonts/merriweather-bold-webfont.svg#MerriweatherBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%
}

body {
    font-family: MerriweatherRegular, Georgia, Serif;
    font-size: 14px;
    line-height: 20px;
    color: #3B3B3B;
    background: url(../img/bg.png) left top repeat;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    height: 100%;
    min-width: 500px;
}

hr {
    border: solid 1px #3B3B3B;
    background-color: #3B3B3B;
    width: 85%;
    margin: 20px auto 0px auto;
}

/* links */
a:link, a:visited {
    color: #285935;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus, a:active {
    color: #5E1F00;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'MerriweatherBold', Serif;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.9px;
    color: #046416;
    margin-left: -2px;
}

h2 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

/* Lists */
ul, ol {
    margin-bottom: 25px;
    padding: 0 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

/* ------------------------------------------------------
    STRUCTURE
--------------------------------------------------------- */
#header-wrap {

}

header {
    position: relative;
    width: 100%; /* 940px;*/
    height: 55px;
    margin: 0 auto;
background: url(../img/header-bg.png);
    width: 100%;

    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
}

header hgroup {
    position: absolute;
    /*background: url(../img/ORTHO-eMAN-Logo.png) no-repeat;*/
    height: 31px;
    width: 312px;
    display: block;
    top: 25px;
    left: 0;
}

header h3 {
    color: #ffffff;
    margin-left: 10px;
}

/*  Main Navigation  */
header nav {
    position: absolute;
    left: 100px;
    top: 0;
    width: 100%; /*650px;*/
    height: 50px;

}

header nav ul {
    list-style: none;
    margin: 11px 20px 0 0;
    padding: 0;
    height: 60px;
    float: right;
    vertical-align: bottom;
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul a:link, header nav ul a:visited {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0 11px;
    height: 60px;
    color: #BEBEBE;
    text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
    line-height: 68px;
}

header nav ul li a:hover,
header nav ul li a:active {
    border: none;
    /*color: #D67630;*/
    color: #2396D3;

}

header nav ul li#current a {
    /*color: #D67630;*/
    color: #2396D3;
}

header nav ul li#current span {
    position: absolute;
    display: block;
    background: url(../img/selected.png) no-repeat 50% 0;
    bottom: -9px;
    height: 10px;
    width: 100%;
}

/* Contents */
#content_wrap {
    top: 85px;
    width: 90%;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
}

/* Sections */
section {
    position: relative;
}

/*section#navigation {
    width:  500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
} */
#NextTest {
    position: absolute;
    right:-130px;
}
#PreviousTest {
   position: absolute;
   left:-130px;
}

#SubmitAnswer {
    width:150px;
    position: absolute;
    top: -50px;
   left:42%;
}

/* Lessons */

#lesson p {
    padding: 0 30px 0 30px;
}

#lesson h1, h2, h3, #pageresults2 h1 {
    padding: 5px 30px 5px 30px;
}

#lesson .turn-page {
    /*background: url(../img/form-bg.png);*/
    background: url(../img/plainpaper1.png);
    /*background-color: #FFFFFF;*/
    text-align: justify;
    overflow: auto;

   

}

.odd {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: background 1s;
    -moz-transition: background 1s; /* Firefox 4 */
    -webkit-transition: background 1s; /* Safari and Chrome */
    -o-transition: background 1s; /* Opera */
}

.even {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

/* Image Controls */
#lesson p#img {
    text-align: center;
    margin: 20px;
}

.pencilcursor {
    cursor: url(cursors/draw_freehand_16.png), url(css/cursors/draw_freehand_16.cur), auto;
}

.erasercursor {
    cursor: url(cursors/eraser_16.png), url(css/cursors/eraser_16.cur), auto;
}

.pointcursor {
    cursor: pointer;
}

.movecursor {
    cursor: move;
}

.blocks {
    display: block;
    /*margin-left: auto;margin-right: auto;*/
}

.cssSlider {
    width: 150px;
    height: 20px;
    position: relative;
    display: none;
}

span.ColorFunctions div img:hover {
    cursor: pointer;
}

span.ColorFunctions div img {
    margin: 10px 0 0 2px;

}

span.ColorFunctions div {
    width:8%;
    display: inline-block;
}

.ColorFunctions {
    margin-left: auto;
    margin-right: 0;

}

.submit {
    width: 200px;
}

/* Button Links */
a:link.more, a:visited.more {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    padding: 6px 10px;
    border: 1px solid #2177a5;
    background-color: #227bab;
    color: #fff;
    font-size: 13px;
    width: 100px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
}

a:hover.more {
    border: 1px solid #cbb48f;
    background-color: #cb842e;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
}

a:link.disablemore, a:visited.disablemore {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    padding: 6px 10px;
    border: 1px solid #696969;
    background-color: #6e6e6e;
    color: #d9d9d9;
    font-size: 13px;
    width: 100px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    font-style: italic;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #919191;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #919191;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #919191;
}

a:hover.disablemore {
    cursor: not-allowed;
}

/* Msg box styles */
#msg_area {
    position: fixed;
    min-width: 350px;
    max-width: 450px;
    bottom: 10px;
    z-index: 22;
    left: 10px;

}

#msg_area .ui-icon-closethick {
    float: right;
    position: relative;
    top: 5px;
    right: -5px;
    display: none;
}

#msg_area .ui-icon-closethick:hover {
    cursor: pointer;
}

/* Quiz */
div[id^="quiz_"]>p {
    font-family: MerriweatherBold;
    margin: 20px;
}

div[id^="quiz_"]>ul {
    list-style-type: none;
    margin: 20px;
}

input:hover {
    cursor: pointer;
}

div[id^="quiz_"]>ul>li {
    /* background-color: orange;*/
    margin-bottom: 5px;
    padding: 2px 5px 2px 5px;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}

div[id^="quiz_"]>ul>li>input {
    vertical-align: middle;
    margin-left: 5px;
}

div[id^="quiz_"]>ul>li>span {
    vertical-align: middle;
    margin-left: 7px;
}

div[id^="quiz_"]>ul>li:hover {
    background-color: #cb842e;
    cursor: pointer;
    color: white;
    /*font-family: Georgia;
    font-weight: normal;*/
    text-shadow: 1px 1px 0 black;
}

.quizselected {
    background-color: #cb842e;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.quizcorrect {
    background-color: #047816;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.quizwrong {
    background-color: #9C2100;
    color: white;
    text-shadow: 1px 1px 0 black;
}

/* Wait for response */
.waiting {
    display: block;
    z-index: 10000;
    background: #000000;
    opacity: 0.4;
}

.overlay_hidden {
    display: none;
    z-index: -1;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#shadow_overlay_msg {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:300px;
    height: 200px;
    position: fixed;
    z-index: 10001;
    display: none;


}
#overlay_msg {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:280px;
    height: 180px;
    position: fixed;
    z-index: 10001;
    background: url(../img/plainpaper1.png);
    display: none;

}

#shadow_pageresults2 {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:520px;
    height: 380px;
    position: fixed;
    z-index: 10001;
    display: none;
}
#pageresults2 {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:520px;
    height: 380px;
    position: fixed;
    z-index: 10001;
    background: url(../img/plainpaper1.png);
    display: none;
    text-align: center;
}

#overlay_msg > h2 {
    padding: 20px 0 10px 0px;
    text-align: center;
}
#overlay_msg > p {
    text-align: center;
    margin: 5px 10px 0 10px;
}


/* prettyload css */
.prettyLoader {
    background: url(../img/prettyLoader.png) top left no-repeat;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 30000;
}

.prettyLoader img {
    display: block;
    margin: 7px 0 0 7px;
}

.pl_ie6 {
    background-image: url(../img/prettyLoader.gif);
}

/* Results Page */
#pageresults>table, #pageresults2>div>table {
    margin:10px 30px;
    width:90%;
    text-align: center;
}
#pageresults>table tr, #pageresults2>div>table tr {
    text-align: center;
}

#pageresults>table>tr>td>h1, #pageresults2>div>table h1 {
    margin: 0;
    padding: 0;
    font-size:25px;
    color:#3B3B3B;

}

#pageresults *, #pageresults2 * {
    z-index: 1;
}

#pageresults>table  h1.fontcolorCorrect, #pageresults2>div>table h1.fontcolorCorrect {
    color:#047816;
}
#pageresults>table h1.fontcolorWrong, #pageresults2>div>table h1.fontcolorWrong {
    color :#9C2100;
}



#pageresults2>div>table td:last-child {
    font-weight: bold;
    font-size: 16px;
}

#pageresults h1, #pageresults2 h1 {
    color:#3B3B3B;
}

#pageresults2 #stamp>img {
    z-index: -1;
}
#stamp>img {
    -webkit-transform:rotate(-45deg);
    tranform:rotate(-45deg);
    -ms-tranform:rotate(-45deg);
    -moz-tranform:rotate(-45deg);
    -o-tranform:rotate(-45deg);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    display: block;

}

#closeResults {
    float: none;
    display: block;
    margin: 40px auto 40px auto;

}

/* Spin control */

.spinInput, .spinContainer
{
    /* Change this to modify the default spin control background color*/
    background-color: #FFFFFF;
}

.spinLeftRightEdge, .spinTopBottomEdge
{
    position: absolute;
    overflow: hidden;
    /* Change this to modify the default spin control border color*/
    background-color: #A5ACB2;
}

.spinContainer
{
    position: relative;
    font-size: 0px;
    height: 20px;
}

.spinLeftRightEdge
{
    height: 20px;
    width: 1px;
}

.spinTopBottomEdge
{
    height: 1px;
    left: 1px;
}

.spinInput
{
    position: absolute;
    top: 1px;
    left: 2px;
    height: 18px;
    border: 0px;
    /* Change this to modify the default spin control font, font color, and font size*/
    color: Black;
    font-size: 9pt;
    font-family: Arial;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress, .spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
    position: absolute;
    width: 15px;
    height: 8px;
    right: 2px;
    background-image: url('../img/spin_control_buttons.png');
    background-repeat: no-repeat;
    /* Change this to modify the default button color*/
    background-color: #000000;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress
{
    top: 2px;
}

.spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
    top: 10px;
}

.spinUpBtn
{
    background-position:0px 0px;
}

.spinUpBtnHover
{
    background-position:0px -16px;
}

.spinUpBtnPress
{
    background-position:0px -32px;
}

.spinDownBtn
{
    background-position:0px -8px;
}

.spinDownBtnHover
{
    background-position:0px -24px;
}

.spinDownBtnPress
{
    background-position:0px -40px;
}

/* Input Theming */

div#div_input>div {
    float:left;
    padding-left:20px;
}

/* ---- Counter ---- */
#timeout {
    position: fixed;
    bottom: -10px;
    right: 10px;
    z-index: 22;
}
#counter {
    font-family: 'LeagueGothicRegular', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #272727;
    text-shadow: 0 1px 0 #fff;
    overflow: hidden;
    line-height: normal;
    padding: 0 0 20px 0;
    cursor: default;
}

#counter .countDays, .countHours, .countMinutes, .countSeconds {
    font-weight: bold;
    float: left;
    width: 55px;
    height: 64px;
    padding-left: 16px;
    background: #e7e7e7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,.07)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
    background-image: linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:
        0 2px 3px 0 rgba(255,255,255,.2) inset,
        0 2px 2px 0 rgba(0,0,0,.1);
    -webkit-box-shadow:
        0 2px 3px 0 rgba(255,255,255,.2) inset,
        0 2px 2px 0 rgba(0,0,0,.1);
    box-shadow:
        0 2px 3px 0 rgba(255,255,255,.2) inset,
        0 2px 2px 0 rgba(0,0,0,.1);
    cursor: default;
}

#counter .points {
    float: left;
    width: 18px;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 66px;
    text-shadow: none;
    cursor: default;
}

#counter .position {
    position: relative;
    float: left;
    width: 19px;
    height: 46px;
    margin: 2px 0 0 0;
    cursor: default;
}

#counter .digit {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

#counter .boxName {
    float: left;
    width: 50px;
    margin: -5px 0 0 -2px;
    font-size: 16px;
    color: #a6a6a6;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: default;
}

#counter_small {
    position: absolute;
    bottom: 11px;
    right: -9px;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    background: #3B3B3B;
    text-shadow: 1px 1px 0 rgba(0,0,0,1);
    color: #EEEEEE;
    padding: 3px 4px 1px 4px;
    border-radius: 2px;
    line-height: normal;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 1s, color 1s, text-shadow 1s;
    -moz-transition: opacity 1s, color 1s, text-shadow 1s;
    -webkit-transition: opacity 1s, color 1s, text-shadow 1s;
    -o-transition: opacity 1s, color 1s, text-shadow 1s;
}

#counter_small:hover {
    opacity: 0.9;
    text-shadow: 1px 1px 0 rgba(0,0,0,1);
    color: #FFFFFF;
}

#counter_small>span {
    font-weight: bold;
}

#counter .Hours { margin-left: 3px; }
#counter .Seconds { margin-left: 1px; }

